name: Publish jar

on:
  push:
    tags:
      - '*.*.*'

# 동일 태그에서 재실행 방지 (일반적으로 태그는 한 번만 실행)
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 15
#    if: github-repository == 'scriptonbasestar/sb-keycloak-exts'

    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'main'
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true
