name: Publish jar

on:
  push:
    tags:
      - '*.*.*'

# 동일 태그에서 재실행 방지 (일반적으로 태그는 한 번만 실행)
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 15
#    if: github-repository == 'scriptonbasestar/sb-keycloak-exts'

    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'main'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17
          cache: gradle

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3
        with:
          cache-read-only: false
          gradle-home-cache-cleanup: true
